asgiref==3.7.2
Brotli==1.0.9
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cssselect2==0.7.0
Django==3.2.20
django-renderpdf==4.0.0
fonttools==4.37.4
gunicorn==21.2.0
html5lib==1.1
idna==3.4
packaging==23.1
Pillow==9.5.0
pycparser==2.21
pydyf==0.7.0
pyphen==0.14.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
urllib3==2.0.4
weasyprint==59.0
webencodings==0.5.1
whitenoise==6.5.0
zopfli==0.2.2
